
// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;

$magenta:   #d33682;
$violet:    #6c71c4;
$cyan:      #2aa198;

$green:    #35bf4c;
$red:		#FF6743;
$pink:		#FA2D65;

$tinblue:	#E4F1FE;
$lightblue: #768EE9;
$blue:      #6077C1;


$navi:		#343451;

$grey1:     #f4f4f4;
$grey2:		#d6d6d6;
$grey3:		#8e8e8e;
$grey4:		#2f2933;



$default-border-radius : 5px;
$default-transition-property : all;
$default-transition-duration : 0.5s;